nav button{
    text-decoration:solid;
    color:darkblue;
    text-align: center;
    padding: 25px;
   
    
}
nav{
    background-color:black;
    overflow: hidden;
    
}
nav button:hover{
     color:orangered;
     box-shadow: 2px 2px 4px 5px aqua;
}






